* {
  box-sizing: border-box;
}
body {
  font-size: 23px;
}
 .wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
 .wrapper .display-tasks{
  position: absolute;
  margin-top: 350px;
  margin-left: 320px;
  font-size: 20px;
  color: #00000053;
}
.inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-bottom: 4px;
}
.inner {
  display: flex;
  padding: 10px;
}
.name-input,
.desc-input {
  display: flex;
  flex-direction: column;
}
.task-name {
  margin: 20px 10px;
  background-color: #000;
  border-bottom: 2px #959595 solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0px;
  width: 370px;
  color: #fff;
}
.input-error {
  font-size: 12px;
  color: #ff3f3f;
}
label {
  color: white;
}
input {
  border-radius: 5px;
  outline: none;
}
.add-btn {
  width: 100px;
  height: 35px;
  margin-right: 15px;
  color: white;
  background-color: rgb(245, 100, 33);
}
.new-tasks {
  display: flex;
  flex-direction: column;
}
.new-tasks .task-text {
  display: block;
  padding-left: 20px;
  color: rgb(220, 104, 76);
  font-weight: 200;
  background: transparent;
  overflow-wrap: break-word;
  margin-top: 15px;
  width: 450px;
}
.task-text button {
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
.new-tasks input,
.new-tasks input:focus-visible {
  margin: auto 10px;
  width: 700px;
  height: 40px;
  color: rgb(220, 104, 76);
  font-size: 18px;
}

.wrapper-of-task {
  display: flex;
  min-height: 90px;
}

.wrapper-of-task button {
  margin: 0;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}
  
  .completed {
  margin-top: 15px;
  text-decoration: line-through;
  color: #808080;
  display: block;
  padding-left: 20px;
  font-weight: 200;
  background: transparent;
  word-break: break-all;
  max-width: 700px;
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}
.complete-hide {
  display: none;
}
.complete-show {
  display: block;
}
.btn-complete {
  color: rgb(0, 170, 0);
}
.btn-delete {
  color: #fff;
  background-color: rgb(222, 65, 65);
}
.btn-cancel:hover {
  transition-duration: 0.2s;
  background-color: #d4d4d4;
}
.log-out {
  margin: 15px;
  /* margin-left: 90%; */
  font-size: 20px;
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-weight: 400;
}
.log-out:hover {
  color: rgb(63, 63, 63);
  font-weight: 600;
}